<section id="static_section_5" class="content_section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8" id="sign_up_container">
        <%= image_tag 'sword_2.png', :id => 'sign_up_img' %>
        <h1 class="script_text">Sign Up</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :name %>
              <%= f.text_field :name, autofocus: true, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :avatar %>
              <%= f.file_field :avatar %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
              <%= f.email_field :email, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
          </div>
          <%= f.submit "Sign up", :class => "btn btn-default" %>
          <%= link_to "Sing In", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</section>