<div class="row">
	<div class="col-xs-12">
		<h2>Profiles</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @profiles.each do |profile| %>
					<tr>
						<td>
							<% if profile.avatar.content_type %>
								<%= image_tag profile.avatar.url(:thuumb) %>
							<% end %>
						</td>
						<td>
							<strong><%= profile.title %></strong>
							</br>
							<% if profile.city && profile.state %>
								<span><%= profile.city %>, <%= profile.state %></span>
							<% else %>
								<span>City and State unavailable</span>
							<% end %>
						</td>
						<td><%= link_to "View Profile", profile_path(profile), :class => "btn btn-info" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>