<style>
	#wallpaper_container {
		position: relative;
	}
	#wallpaper img {
		width:100%;
	}
	#avatar_container {
		height:170px;
		padding-top:10px;
		background-color: rgba(51, 51, 51, 0.7);
		position: absolute;
		bottom:0px;
		left:15px;
		right:15px;
	}
	#avatar img{
		margin-left: 10px;
	}

	#profile_info {
		color:#f2f2f2;
	}
	#profile_openings_btn {
		margin-top: 40px;
	}
	#profile_content {
		margin-top: 20px;
	}
</style>
<div class="container">
	<div id="alert_container" class="row">
		<div class="col-xs-12">
			<% if flash[:success] %>
				<div class="alert alert-success" role="alert">
					<%= flash[:success] %>
				</div>
			<% end %>
			<% if flash[:error] %>
				<div class="alert alert-danger" role="alert">
					<%= flash[:error] %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div id="wallpaper_container" class="col-xs-12">
			<div id="wallpaper">
				<% if @profile.wallpaper.content_type %>
					<%= image_tag @profile.wallpaper.url(:large) %>
				<% end %> 
			</div>
			<div id="avatar_container">
				<div class="row">
					<div id="avatar" class="col-xs-2">
						<% if @profile.avatar.content_type %>
							<%= image_tag @profile.avatar.url(:small), :class => "img-responsive"%>
						<% else %>
							<%= image_tag "default-profile-avatar.png" %>
						<% end %>
					</div>
					<div id="profile_info" class="col-xs-6">
						<h1><%= @profile.title %></h1>
						<% if @profile.city && @profile.state %>
							<p class="avatar_row_color"><%= @profile.city %>, <%= @profile.state %></p>
						<% else %>
							<p class="avatar_row_color">No location data.</p>
						<% end %>
					</div>
					<div id="profile_openings_btn" class="col-xs-3">
						<% if @profile.user == @user %>
							<%= link_to "Edit Profile", edit_user_profile_path(@profile), :class =>'btn btn-default btn-lg btn-block my_btn_orange' %>
						<% elsif @is_client &&  %>
							<%= link_to "View Openings", profile_openings_path(@profile), :class =>'btn btn-default btn-lg btn-block my_btn_orange' %>
						<% else %>
							<% if @client %>
								<%= form_for [@profile, @client] do |f| %>
									<%= f.submit "Client Request", :class => 'btn btn-default btn-lg btn-block my_btn_orange'%>
								<% end %>
							<% else %>
								<a href="#" class="btn btn-default btn-lg btn-block my_btn_orange">Pending Client Approval</a>
							<% end %>
							
						<% end %>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="profile_content" class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Reviews</h3>
					<div class="profile_rating">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					</div>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						Prosciutto shankle boudin rump pork. Beef ground round bacon kevin doner shankle andouille cow prosciutto turkey chicken sirloin. Pork chop ham bresaola tenderloin. Tail picanha bresaola, andouille rump pancetta tongue hamburger.
					</li>
					<li class="list-group-item">
						Prosciutto shankle boudin rump pork. Beef ground round bacon kevin doner shankle andouille cow prosciutto turkey chicken sirloin. Pork chop ham bresaola tenderloin. Tail picanha bresaola, andouille rump pancetta tongue hamburger.
					</li>
					<li class="list-group-item">
						Prosciutto shankle boudin rump pork. Beef ground round bacon kevin doner shankle andouille cow prosciutto turkey chicken sirloin. Pork chop ham bresaola tenderloin. Tail picanha bresaola, andouille rump pancetta tongue hamburger.
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Description</h3>
				</div>
				<div class="panel-body">
					<p id="profile_description">
						<%= @profile.description %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
