<section id="appointment_show_section_1">
	<div class="container">
		<div class="row pad_top">
			<div class="col-xs-12 col-md-8">
				<div class="ninja_panel panel panel-default">
					<div class="panel-heading">
						<% if @appointment.profile.avatar.content_type %>
							<%= image_tag @appointment.profile.avatar.url(:thuumb), :class => 'img-circle avatar_big' %>
						<% else %>
							<div class="no_profile_avatar a_profile_color profile_color_<%= @appointment.profile.title.gsub(/\s+/,"")%>"></div>
						<% end %>
						<h1 class="panel-title sans_serif_bold dark_text inline_heading"><%= @appointment.profile.title %></h1>
						<button class="btn btn-default dashboard_link" id="swal_delete_appointment">
							Cancel
						</button>
					</div>
					<div class="panel-body">
						<% if @appointment.client.avatar.content_type %>
							<%= image_tag @appointment.client.avatar.url(:thuumb), :class => 'img-circle text-center avatar_big' %>
						<% else %>
							<div class="avatar_container">
								<%= image_tag 'user_avatar_thumb.png', :class => 'img-circle text-center avatar_big' %>
							</div>
						<% end %>
						<p class= "text-center"><%= link_to @client.client.name, user_client_path(@client), :class => 'sans_serif_bold dark_text ninja_link' %></p>
						<h3 class="sans_serif_bold dark_text text-center"><%= @appointment.start.strftime('%A') %></h3>
						<h5 class="sans_serif_bold dark_text text-center"><%= @appointment.start.strftime('%m/%d/%Y') %></h5>
						<p class="sans_serif_bold orange_text text-center"><%= @appointment.start.strftime('%I:%M') %> - <%= @appointment.end.strftime('%I:%M %p') %></p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<%= render :partial => "shared/events_list.html.erb" %>
			</div>
		</div>
	</div>
</section>

