<section id="profile_calendar_section">
<div class="container">
	<%= render :partial => 'shared/errors.html.erb' %>
	<div class="row">
		<div class="row">
			<div class="col-xs-12">
				<% if @profile.avatar.content_type %>
					<%= image_tag @profile.avatar.url(:small), :class => 'img-circle avatar_big' %>
				<% else %>
					<div class="no_profile_avatar a_profile_color profile_color_<%= @profile.id %>"></div>
				<% end %>
				<h1 class="sans_serif_bold inline_heading"><%= @profile.title %></h1>
			</div>
		</div>
	</div>
	<div class="row pad_top">
			<div class="col-xs-12 col-md-8">
				<div class="row">
					<div class="col-xs-12">
						<div class="quick_action_small text-center">
						<button id="prev_month" class="btn btn-default cal_nav">
							 <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
						</button>
						<h4 id="month" class="panel-title sans_serif_bold dark_text"></h4>
						<button id="next_month" class="btn btn-default cal_nav">
							<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
						</button>
					</div>
					<div class="panel-group" id="calendar_body" role="tablist" aria-multiselectable="true">

					</div>
						<!-- <div id="calendar" class="panel panel-default">
							<div class="panel-heading">
								<button id="prev_month" class="btn btn-default cal_nav">
									 <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
								</button>
								<h4 id="month" class="panel-title sans_serif_bold dark_text"></h4>
								<button id="next_month" class="btn btn-default cal_nav">
									<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
								</button>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="sans_serif_bod dark_text">Sun.</th>
											<th class="sans_serif_bod dark_text">Mon.</th>
											<th class="sans_serif_bod dark_text">Tue.</th>
											<th class="sans_serif_bod dark_text">Wed.</th>
											<th class="sans_serif_bod dark_text">Thu.</th>
											<th class="sans_serif_bod dark_text">Fri.</th>
											<th class="sans_serif_bod dark_text">Sat.</th>
										</tr>
									</thead>
									<tbody id="calendar_body">

									</tbody>
								</table>
							</div>
						</div> -->
					</div>
				</div>
				
			</div>
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<div class="col-xs-12">
					<%= render :partial => "shared/events_list_public.html.erb" %>
				</div>
			</div>
			
		</div>
	</div>
	
	
</div>
</section>
<%= javascript_tag do %>
	$('document').ready(function() {
		var events = createEventsObj(<%= raw @events.to_json %>);
		var today = new Date();
		var profile_id = <%= @profile.id %>
		openingInit(profile_id,today, events);
		$('#prev_month').click(function() {
			if(today.getMonth() === 0) {
				today.setMonth(11);
				today.setYear(today.getFullYear() - 1);
			}
			else {
				today.setMonth(today.getMonth() - 1);
			}
			var profile_id = <%= @profile.id %>
			openingInit(profile_id, today, events);
			getProfileColors(<%= raw @colors.to_json %>);
		});
		$('#next_month').click(function() {
			if(today.getMonth() === 11) {
				today.setMonth(0);
				today.setYear(today.getFullYear() + 1)
			}
			else {
				today.setMonth(today.getMonth() +1);
			}
			openingInit(profile_id, today, events);
			getProfileColors(<%= raw @colors.to_json %>);
		});
		
		getProfileColors(<%= raw @colors.to_json %>);
	});	
	
<% end %>

