<style>
	.jumbotron {
		position: relative;
		height:387px;
	}
	.jumbotron_img {
		position: absolute;
		width:98%;
		height:367px;
		top:10px;
		left:1%;
		right:1%;
		bottom:10px;
		border:2px solid #333;
		border-radius: 6px;
	}
	h2 {
		display: inline-block;
		background-color: #f2f2f2;
		position: absolute;
		bottom:50px;
		left:0px;
		color:#333333;
		font-size: 72px;
		padding:5px 10px;
		padding-left:20px;
		border-radius: 5px;
	}
	#back_to_profile_link {
		margin-bottom: 20px;
	}
</style>
<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			<% if @profile.wallpaper.content_type %>
				<%= image_tag @profile.wallpaper.url(:large), :class => "jumbotron_img" %>
			<% end %>
			<h2><%= @profile.title %></h2>
		</div>
	</div>
</div>
<div class="row">
	<div id="back_to_profile_link" class="col-xs-12">
		<%= link_to "&#171; Back To Profile".html_safe, profile_path(@profile) %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Openings</h3>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Time</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% counter = 0 %>
					<% @openings.each do |opening| %>
						<% if !appointment = Appointment.where(:opening => opening).first %>
							<tr>
								<td><%= opening.start.strftime('%B %d, %Y') %></td>
								<td>
									<%= opening.start.strftime('%I:%M') %> - <%= opening.end.strftime('%I:%M %p') %>
								</td>
								<td>
									<% if @user == @profile.user %>
										<%= link_to "Edit Opening", edit_user_opening_path(opening) %>
									<% else %>
										<%= link_to "Schedule Appointment", new_profile_opening_appointment_path(@profile, opening) %>
									<% end %>
									
								</td>
							</tr>
							<% counter += 1 %>
						<% end %>
					<% end %>
				</tbody>
			</table>
			<% if @openings.count == 0 || counter == 0 %>
				<div class="alert alert-danger">
					<p class="text-center">This Profile has no openings available at this time.</p>
				</div>
			<% end %>
		</div>
	</div>
</div>