<section id="client_show_section_1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="ninja_panel panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title sans_serif_bold dark_text"><%= @client.client.name %></h4>
					</div>
					<div class="panel-body">
						<%= render :partial => "/shared/list_item/list_item_new_client.html.erb", :locals => {client: @client} %>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="ninja_panel panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title dashboard_header">
								<a class="ninja_link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Upcoming Appointments</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<ul class="list-group">
								<% if @appointments.count == 0 %>
									<li class="list-group-item">
										<div class="alert alert-danger">
											You don't have any appointments with this clients.
										</div>
									</li>
								<% end %>
								<% @appointments.each do |appointment| %>
									<%= render :partial => 'shared/list_item/list_item_owner.html.erb', :locals => {:e => appointment} %>
								<% end %>
								
							</ul>
							<div class="panel-footer text-right">
								<%= will_paginate @appointments, renderer: BootstrapPagination::Rails %>
							</div>
						</div>
						<div class="ninja_panel panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed ninja_link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria expanded="false" aria-controls="collapseTwo">History</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<ul class="list-group">
									<% if @history.count == 0 %>
										<li class="list-group-item">
											<div class="alert alert-danger">
												You don't have any past appointments with this client.
											</div>
										</li>
									<% end %>
									<% @history.each do |h| %>
										<%= render :partial => 'shared/list_item/list_item_owner.html.erb', :locals => {:e => h} %>
									<% end %>
									
								</ul>
								<div class="panel-footer text-right">
									<%= will_paginate @history, renderer: BootstrapPagination::Rails %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<%= javascript_tag do %>
	$('document').ready(function() {
		$('.new_client_remove').each(function(index) {
			$(this).click(function() {
				var id = $(this).attr('id');
				swal({
					title: "Are you sure?",
					text: "If you delete this client they can't make appointments with you.",
					type: "warning",
					showCancelButton:true,
					cancelButtonText: "Cancel",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Delete Client",
					closeOnConfirm: true
				},
				function() {
					$.post("/user/clients/"+id, {_method: 'delete'}, null, "script");
					
				});
			});
		});
		
		getProfileColors(<%= raw @colors.to_json %>);
	});	
	
<% end %>

