<%= form_for [:user, @profile] do |f| %>
	<% if @profile.errors[:title].present? %>
		<div class="form-group has-error">
			<%= f.label :title, :class => 'control-label' %>
			<% @profile.errors[:title].each do |message|%>
				<span><%= message %></span>
			<% end %>
			<%= f.text_field :title, :class => 'form-control' %>
		</div>
	<% else %>
		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, :class => 'form-control ' %>
		</div>
	<% end %>
	<% if @profile.errors[:description].present? %>
		<div class="form-group has-error">
			<%= f.label :description, :class => 'control-label' %>
			<% @profile.errors[:description].each do |message|%>
				<span><%= message %></span>
			<% end %>
			<%= f.text_area :description, :size => "40x15", :class => 'form-control' %>
		</div>
	<% else %>
		<div class="form-group">
			<%= f.label :description %>
			<%= f.text_area :description, :size => "40x15" , :class => 'form-control ' %>
		</div>
	<% end %>
	<% if @profile.errors[:color].present? %>
		<div class="form-group has-error">
			<%= f.label :color, :class => 'control-label' %>
			<% @profile.errors[:color].each do |message|%>
				<span><%= message %></span>
			<% end %>
			<%= f.text_field :color, :class => 'color_picker form-control' %>
		</div>
	<% else %>
		<div class="form-group">
			<%= f.label :color, :class => 'control-label' %>
			<%= f.text_field :color, :class => 'color_picker form-control' %>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :avatar, :class => 'control-label'%>
		<%= f.file_field :avatar%>
	</div>
	<div class="form-group">
		<%= f.label :wallpaper, :class => 'control-label'%>
		<%= f.file_field :wallpaper%>
	</div>
	<div class="form-group">
		<%= f.label :zip, "Zip Code ", :class => 'control-label' %>
		<%= f.text_field :zip, :class => 'form-control' %>
	</div>
	<%= f.submit "Save Profile", :class => 'btn btn-default' %>
<% end %>
<script>
	$(document).ready(function() {
		$('.color_picker').minicolors({theme: 'bootstrap'});
	});
</script>