<div id="user_profile_show_content" class="row">
	<div class="col-xs-12">
		<div class="row">
			<div id="user_profile_view_all" class="col-xs-12">
				<%= link_to "&#171; View Profiles".html_safe, user_profiles_path %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<% if @profile.avatar.content_type %>
					<%= image_tag @profile.avatar.url(:small) %>
				<% end %>
			</div>
			<div class="col-xs-2">
				<div class="row">
					<div class="col-xs-12">
						<%= @profile.title %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<% if @profile.city && @profile.state %>
							<%= @profile.city %>,
							<%= @profile.state %>
						<% else %>
							<p>Add valid zip code</p>
						<% end %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<%= link_to "Edit Profile", edit_user_profile_path(@profile), :class => "btn btn-warning", :role => "button" %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<%= link_to "Delete Profile", user_profile_path(@profile), :class => "btn btn-danger", :role => "button", method: :delete %>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<p>
					<%= @profile.description %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h2>Clients</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Name: </th>
							<th>Email: </th>
						</tr>
					</thead>
					<tbody>
						<% @clients.each do |client| %>
							<tr>
								<td><%= client.name %></td>
								<td><%= client.email %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>

