<div id="ninja_star_decor">

</div>
<section id="welcome_section">
	<div class="container">
		<div id="welcome_row" class="row">
			<div class="col-xs-12 col-md-5">
				<h1 class="sans_serif_bold dark_text">Hello<span class="sans_serif_bold">
					<%= @user.name %></span>!
				</h1>
				<div class="row">
					
				</div>
			</div>
			<div class="col-xs-12 col-md-4 col-md-offset-3">
				
				<h2 class="sans_serif_bold dark_text text-center">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					Find someone near you
				</h2>
				<div id="find_me_form" class="form-inline text-center">
					<form class="form-inline" method="get" action="/profiles">
						<div class="form-group text-center">
							<input type="text" name="zip" class="form-control" placeholder="Zip Code">
						</div>
						<button type="submit" class="btn btn-default">Find Me!</button>
					</form>
				</div>
			</div>
		</div>
		<div class= "row pad_top">
			<div class="col-xs-12 col-md-4 pad_top">
				<%= render :partial => "shared/events_list.html.erb" %>

			</div>
			<div class="col-xs-12 col-md-8">
				<div class="row">
					
						<div class="col-xs-12 col-sm-6 col-md-4 text-center pad_top">
							<%= link_to user_schedule_index_path, :class => 'quick_action_link' do %>
							<div class="quick_action">
								<span class="not light_text"><%= @appointment_notifications.count + @cancellation_notifications.count %></span>
								<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
								<h4 class="text-center sans_serif_bold dark_text">My Calendar</h4>
							</div>
							<% end %>	
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 text-center pad_top">
							<%= link_to user_clients_path, :class => 'quick_action_link' do %>
							<div class="quick_action">
								<span class="not light_text"><%= @client_notifications.count %></span>
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								<h4 class="text-center sans_serif_bold dark_text">My Clients</h4>
							</div>	
							<% end %>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 text-center pad_top">
							<%= link_to new_user_profile_path, :class => 'quick_action_link' do %>
							<div class="quick_action">
								<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
								<h4 class="text-center sans_serif_bold dark_text">New Profile</h4>
							</div>	
							<% end %>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 text-center pad_top">
							<%= link_to user_notifications_new_appointments_path, :class => 'quick_action_link' do %>
							<div class="quick_action">
								<span class="not light_text"><%= @appointment_notifications.count%></span>
								<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
								<h4 class="text-center sans_serif_bold dark_text">New Appointments</h4>
							</div>
							<% end %>	
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 text-center pad_top">
							<%= link_to user_notifications_cancellations_path, :class => 'quick_action_link' do %>
							<div class="quick_action">
								<span class="not light_text"><%= @cancellation_notifications.count %></span>
								<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
								<h4 class="text-center sans_serif_bold dark_text">Cancellations</h4>
							</div>	
							<% end %>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 text-center pad_top">
							<%= link_to user_clients_path, :class => 'quick_action_link' do %>
							<div class="quick_action">
								<span class="not light_text"><%= @vendor_notifications.count %></span>
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<h4 class="text-center sans_serif_bold dark_text">New Vendors</h4>
							</div>	
							<% end %>
						</div>
				</div>
			</div>
			
		</div>
		
	</div>
</section>

