
<section id="static_header_container">
	<div class="container">
		<div id="catch_phrase">
			<h1 id="header" class="text-center sans_serif_text light_text">People Helping People</h1>
			<div id="sub_header_container text-center">
				<%= image_tag 'ninja.png', :id => 'sub_header_img' %>
				<h5 id="sub_header" class="text-center script_text orange_text">ninja style</h5>
			</div>
		</div>	
	</div>
</section>

<section id="static_section_3" class="content_section solid_section">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 pad_top orange_border">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-12 text-center">
						<span class="glyphicon glyphicon-search xl_glyph" aria-hidden="true"></span>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-12 text-center">
						<h1 class="script_text">Find</h1>
						<h2 class="sans_serif_text">Talented People</h2>
					</div>
				</div>	
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 text-center pad_top orange_border">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-12 text-center">
						<span class="glyphicon glyphicon-globe xl_glyph" aria-hidden="true"></span>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-12 text-center">
						<h1 class="script_text">Share</h1>
						<h2 class="sans_serif_text">Your Talents</h2>
					</div>
				</div>
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 text-center pad_top orange_border">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-12 text-center">
						<span class="glyphicon glyphicon-calendar xl_glyph" aria-hidden="true"></span>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-12 text-center">
						<h1 class="script_text">Manage</h1>
						<h2 class="sans_serif_text">Your Schedule</h2>
					</div>
				</div>
				
			</div>
			<div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0 text-center pad_top orange_border">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-12 text-center">
						<span class="glyphicon glyphicon-time xl_glyph" aria-hidden="true"></span>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-12 text-center">
						<h1 class="script_text">Save</h1>
						<h2 class="sans_serif_text">Valuable Time</h2>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section id="static_section_4" class="content_section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div id="about_img_container">
					<%= image_tag 'ninja.png', :id => 'about_img' %>
				</div>
				<h1 class="sans_serif_text">About</h1>
				<p>
					Are looking for someone to babysit? Do you need a math tutor? Are you looking for a hair stylist near you? You can find talented people with <span class="logo_text sans_serif_bold">goBook.</span><span class="script_text">ninja</span>. You are able to find and schedule an appointment (ninja style) within minutes. 
				</p>
				<p>
					Do you want to share your talents and help people? Do you want to get discovered? Use <span class="sans_serif_bold logo_text">goBook.</span><span class="script_text">ninja</span> to get discovered and manage your schedule.
				</p>
				<p>
					goBook.ninja is all about people helping people.
				</p>
			</div>
		</div>
	</div>
</section>

<section id="static_section_5" class="content_section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-6" id="sign_up_container">
				<%= image_tag 'sword_2.png', :id => 'sign_up_img' %>
				<h1 class="script_text">Sign Up</h1>
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>
					<div class="form-group">
						<%= f.label :name %>
    					<%= f.text_field :name, autofocus: true, :class => "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :avatar %>
    					<%= f.file_field :avatar %>
					</div>
					<div class="form-group">
						<%= f.label :email %>
    					<%= f.email_field :email, :class => "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :password %>
					    <% if @validatable %>
					    <em>(<%= @minimum_password_length %> characters minimum)</em>
					    <% end %><br />
					    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :password_confirmation %><br />
    					<%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
					</div>
					<%= f.submit "Sign up", :class => "btn btn-default" %>
					
				<% end %>
			</div>
		</div>
	</div>
</section>

