<section id="static_section_5" class="content_section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <%= render :partial => 'shared/errors.html.erb' %>
        <div class="row">
          <div class="col-xs-12" id="sign_up_container">
            <%= image_tag 'sword_2.png', :id => 'sign_up_img' %>
            <h1 class="script_text">Sign In</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              
              <div class="form-group">
                <%= f.label :email, :class => 'control-label'%>
                <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password, :class => 'control-label' %>
                <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :remember_me %>Remeber Me
                  </label>
                </div>
              <% end -%>
            <%= f.submit "Log in", :class => "btn btn-default" %>
            <% end %>
            <%= link_to "Forgot your Password?", new_password_path(resource_name) %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>













