<style>
	#recurring_container {
		display:none;
	}

	#submit {
		margin-top: 20px;
	}

</style>

<%= form_for [:user, @opening] do |f| %>
	<div class="form-group">
		<%= f.label :start %>
		<div class="input-group date" id="datetimepicker_start">
			<%= f.text_field :start, :class => "form-control", :value => DateTime.now, data: {date_format: 'YYYY-MM-DD hh:mm A'} %>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
            </span>
		</div>
		
	</div>
	<div class="form-group">
		<%= f.label :end %>
		<div class="input-group date" id="datetimepicker_end">
			<%= f.text_field :end, :class => "form-control", :value => DateTime.now, data: {date_format: 'YYYY-MM-DD hh:mm A'} %>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
            </span>
		</div>
		
	</div>
	<div class="form-group">
		<%= f.label :profile %>
		<%= f.collection_select(:profile, @profiles, :id, :title, {:prompt => 'Please select profile'}, {:class => "form-control"}) %>
	</div>
	<% if controller.action_name == 'new' %>
		<label>
			<%= check_box_tag :recurring %> Repeat?
		</label>
		<div id="recurring_container">
			<div class="checkbox">
				<label>
					<%= check_box_tag :sunday, 0 %> Sun.
				</label>
				<label>
					<%= check_box_tag :monday, 1 %> Mon.
				</label>
				<label>
					<%= check_box_tag :tuesday, 2 %> Tues.
				</label>
				<label>
					<%= check_box_tag :wednesday, 3 %> Wed.
				</label>
				<label>
					<%= check_box_tag :thursday, 4 %> Thurs.
				</label>
				<label>
					<%= check_box_tag :friday, 5 %> Fri.
				</label>
				<label>
					<%= check_box_tag :saturday, 6 %> Sat.
				</label>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<%= label_tag :duration_num, 'For:' %>
				</div>
				<div class="col-xs-4">
					<%= number_field_tag(:duration_num, 0, :class => 'form-control', in: 0..52, step: 1) %>
				</div>
				<label class="col-xs-8">
					Weeks
				</label>
			</div>
		</div>
	<% end %>
	<div class="col-xs-12">
		<%= f.submit "Save Opening", :class => 'btn btn-default', :id => 'submit' %>
	</div>
	
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
    	console.log("loaded");
    	$('#datetimepicker_start').datetimepicker({
    		format: "YYYY/MM/DD hh:mm A"
    	});
    	
    	$('#datetimepicker_end').datetimepicker({
    		format: "YYYY/MM/DD hh:mm A"
    	});

    	$('#recurring').click(function() {
    		console.log("check box checked");
    		$('#recurring_container').toggle();
    	});
    });
</script>