<%= form_for [:user, @opening] do |f| %>
	<div class="form-group">
		<%= f.label :start %>
		<div class="input-group date" id="datetimepicker_start">
			<%= f.text_field :start, :class => "form-control", data: {date_format: 'YYYY-MM-DD hh:mm A'} %>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
            </span>
		</div>
		
	</div>
	<div class="form-group">
		<%= f.label :end %>
		<div class="input-group date" id="datetimepicker_end">
			<%= f.text_field :end, :class => "form-control", data: {date_format: 'YYYY-MM-DD hh:mm A'} %>
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
            </span>
		</div>
		
	</div>
	<%= f.submit "Save Opening", :class => 'btn btn-default' %>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
    	console.log("loaded");
    	$('#datetimepicker_start').datetimepicker({
    		format: "YYYY/MM/DD hh:mm A"
    	});
    	$('#datetimepicker_end').datetimepicker({
    		format: "YYYY/MM/DD hh:mm A"
    	});
    });
</script>