<section id="new_opening_section_1">

    <div class="container">
        <%= render :partial => 'shared/errors.html.erb' %>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="ninja_panel panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title sans_serif_bold dark_text">New Opening</h2>
                    </div>
                    <div class="panel-body">
                        <%= render :partial => 'form' %>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                
                <%= render :partial => "shared/events_list.html.erb" %>
            </div>
        </div>
    </div>
</section>




<div id="user_opening_new_content" class="row">
	
</div>
<%= javascript_tag do %>
    $('document').ready(function() {

        var getDate = function() {
            var value = $('#datetimepicker_start input').val();

            var value_year = value.slice(0,4);
            var value_month = value.slice(6,7) - 1;
            var value_day = value.slice(8,10);
            if(value.slice(17,18) === 'P') {
                var value_hour = parseInt(value.slice(11,13)) + 12;
            }
            else {
                var value_hour = parseInt(value.slice(11, 13));
            }
            var value_min = parseInt(value.slice(14, 16));
            var new_value = new Date(value_year, value_month, value_day, value_hour, value_min);
            
            return new_value;
        }


        $('#datetimepicker_start').on('dp.change', function() {
            var value = $('#datetimepicker_start input').val();

            var value_year = value.slice(0,4);
            var value_month = value.slice(6,7) - 1;
            var value_day = value.slice(8,10);
            var td_id = value_year + "_" + value_month + "_" + value_day;
            console.log(td_id);
            $.ajax({url: '<%= user_openings_retrieve_events_path %>',
                    data: 'date='+td_id,
                    dataType: 'script'});

            var new_value = getDate();

            
            var today = new Date();
            if(new_value < today) {
                swal({
                    title: "Warning!",
                    text: "This date is in the past.",
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK",
                    closeOnConfirm: true
                });
            }
            
        });
        
        
    }); 
    
<% end %>
