console.log(<%= raw @schedule.to_json %>);
$('#quick_look_today ul').empty();

$('#quick_look_today h2').empty();
$('#quick_look_today h2').append("<%=escape_javascript(@day.strftime('%A'))%><br/>");
$('#quick_look_today h2').append("<span class='panel_sub_title'><%=escape_javascript(@day.strftime('%B %d, %Y')) %></span>");

<% if @schedule.count == 0 %>
	$('#quick_look_today ul').append('<%= escape_javascript(render :partial => "shared/list_item/list_item_none.html.erb")%>');
<% end %>

<% @schedule.each do |s| %>

	<% if @day_openings %>
		$('#quick_look_today ul').append('<%= escape_javascript(render :partial => "shared/list_item/list_item_opening.html.erb", :locals => {:e => s}) %>')
	<% elsif @day_client_appointments %>
		$('#quick_look_today ul').append('<%= escape_javascript(render :partial => "shared/list_item/list_item_client.html.erb", :locals => {:e => s}) %>')
	<% else %>
		$('#quick_look_today ul').append('<%= escape_javascript(render :partial => "shared/list_item/list_item_owner.html.erb", :locals => {:e => s}) %>')
	<% end %>

<% end %>
getProfileColors(<%= raw @colors.to_json %>);