<section id="show_opening_section_1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<%= render :partial => 'shared/errors.html.erb' %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="ninja_panel panel panel-default">
					<div class="panel-heading">
						<% if @opening.profile.avatar.content_type %>
							<%= image_tag @opening.profile.avatar.url(:thuumb), :class => 'img-circle avatar_big' %>
						<% else %>
							<div class="no_profile_avatar a_profile_color profile_color_<%= @opening.profile.title.gsub(/\s+/,"")%>"></div>
						<% end %>
						<h1 class="panel-title sans_serif_bold dark_text inline_heading"><%= @opening.profile.title %></h1>
						<button class="btn btn-default dashboard_link" id="swal_delete_opening">
							Delete
						</button>
					</div>
					<ul class="list-group">
						<li class="list-group-item">
							<h3 class="sans_serif_bold text-success text-center">Available</h3>
							<h3 class="sans_serif_bold dark_text text-center"><%= @opening.start.strftime('%A') %></h3>
							<h5 class="sans_serif_bold dark_text text-center"><%= @opening.start.strftime('%m/%d/%Y') %></h5>
							<p class="sans_serif_bold orange_text text-center"><%= @opening.start.strftime('%I:%M') %> - <%= @opening.end.strftime('%I:%M %p') %></p>
						</li>
					</ul>
					<div class="panel-body">
						
						<h4 class="sans_serif_bold dark_text">Edit Opening</h4>
						<%= render :partial => 'form' %>
						
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
                
                <%= render :partial => "shared/events_list.html.erb" %>
            </div>
		</div>
	</div>
</section>

<script>
	
	$('#swal_delete_opening').click( function(event) {
		event.preventDefault();
		swal({
				title: "Are you sure?",
				text: "This will delete this opening",
				type: "warning",
				showCancelButton:true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Delete",
				closeOnConfirm: false
			},
			function() {
				// $.post("/user/openings/<%= @opening.id %>", {_method: 'delete'}, null, "script");
				confirmDelete();
			});
	});

	var confirmDelete = function() {
		swal({
			title: "Delete all occurrences?",
			text: "Delete all future occurrences of openings for <%= @opening.profile.title %> on <%= @opening.start.strftime('%A') %> at <%= @opening.start.strftime('%I:%M') %> - <%= @opening.end.strftime('%I:%M %p') %>?",
				type: "warning",
				showCancelButton:true,
				cancelButtonText: 'Just this opening',
				confirmButtonColor: '#DD6B55',
				confirmButtonText: 'Delete All',
				closeOnConfirm: true
		}, function(isConfirm) {
			pickPath(isConfirm);
		});
	}
	var pickPath = function(isConfirm) {
		if(isConfirm) {
			$.post("/user/openings/<%= @opening.id %>/delete_recurring");
		} else {
			$.post("/user/openings/<%= @opening.id %>", {_method: 'delete'}, null, "script");
		}
	}
	// $('#swal_delete_opening').click(function() {

	// });
</script>
<%= javascript_tag do %>
    $('document').ready(function() {

        var getDate = function() {
            var value = $('#datetimepicker_start input').val();

            var value_year = value.slice(0,4);
            var value_month = value.slice(6,7) - 1;
            var value_day = value.slice(8,10);
            if(value.slice(17,18) === 'P') {
                var value_hour = parseInt(value.slice(11,13)) + 12;
            }
            else {
                var value_hour = parseInt(value.slice(11, 13));
            }
            var value_min = parseInt(value.slice(14, 16));
            var new_value = new Date(value_year, value_month, value_day, value_hour, value_min);
            
            return new_value;
        }


        $('#datetimepicker_start').on('dp.change', function() {
            var value = $('#datetimepicker_start input').val();

            var value_year = value.slice(0,4);
            var value_month = value.slice(6,7) - 1;
            var value_day = value.slice(8,10);
            var td_id = value_year + "_" + value_month + "_" + value_day;
            console.log(td_id);
            $.ajax({url: '<%= user_openings_retrieve_events_path %>',
                    data: 'date='+td_id,
                    dataType: 'script'});

            var new_value = getDate();

            
            var today = new Date();
            if(new_value < today) {
                swal({
                    title: "Warning!",
                    text: "This date is in the past.",
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "OK",
                    closeOnConfirm: true
                });
            }
            
        });
        
        
    }); 
    
<% end %>