<!DOCTYPE html>
<html>
<head>
  <title>SeniorApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_container" class="container">
	<div id="public_menu_wrapper" class="row">
		<div id="public_menu_container" class="col-xs-12">
			<% if user_signed_in? %>
				<%= render :partial => 'shared/menus/user_menu.html' %>
			<% else %>
				<%= render :partial => 'shared/menus/public_menu.html.erb' %>
			<% end %>
			
		</div>
	</div>
	<div id="alert_container" class="row">
		<div class="col-xs-12">
			<% if flash[:success] %>
				<div class="alert alert-success" role="alert">
					<%= flash[:success] %>
				</div>
			<% end %>
			<% if flash[:error] %>
				<div class="alert alert-danger" role="alert">
					<%= flash[:error] %>
				</div>
			<% end %>
		</div>
	</div>
	<div id="user_content_wrapper" class="row">
		<div id="user_content_container" class="col-xs-12">
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
