<!DOCTYPE html>
<html>
<head>
  <title>SeniorApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => 'shared/menus/user_menu.html' %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<% if flash[:success] %>
					<div class="alert alert-success" role="alert">
						<%= flash[:success] %>
					</div>
				<% end %>
				<% if flash[:error] %>
					<div class="alert alert-danger" role="alert">
						<%= flash[:error] %>
					</div>
				<% end %>
			</div>
		</div>
		<%= yield %>
	</div>
</body>
</html>