<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>goBook.ninja</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application-user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => 'shared/menus/user_menu.html' %>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<% if flash[:success] %>
					<div class="alert alert-success" role="alert">
						<%= flash[:success].html_safe %>
					</div>
				<% end %>
				<% if flash[:error] %>
					<div class="alert alert-danger" role="alert">
						<%= flash[:error].html_safe %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= yield %>
</body>
</html>